<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new event</h1> 

    <form action="#" th:action="@{/events}" th:object="${event}" method="post">
    
      <!-- NAME -->
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Event name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Event name" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      
      <!-- VENUE -->
      <div class="form-group" th:classappend="${#fields.hasErrors('venue')}? has-error">
        <label for="venue">Event venue</label>
        <select th:field="*{venue}" class="form-control" id="venue" name="venue"> 
          <option th:each="v : ${venues}" th:value="${v.id}" th:text="${v.name}"></option>
        </select>
        <p class="text-danger" th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}">errors</p>
      </div>
      
      <!-- DATE-->
      <div class="form-group" th:classappend="${#fields.hasErrors('date')}? has-error">
        <label for="date">Event date</label>
        <input class="form-control" type="date" name="date" id="date" placeholder="Event date" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">errors</p>
      </div>
      
      <!-- TIME -->
      <div class="form-group" th:classappend="${#fields.hasErrors('time')}? has-error">
        <label for="time">Event time</label>
        <input class="form-control" type="time" name="time" id="time" placeholder="Event time" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">errors</p>
      </div>
      
      <!-- DESCRIPTION -->
      <div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
        <label for="name">Event description</label>
        <input class="form-control" type="text" name="description" id="description" placeholder="Event description" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">errors</p>
      </div>
     
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>
