<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Update an event</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Update event</h1>

	<form action="#" th:action="@{/events/update}" th:object="${event}" method="post" modelAttribute="updatedEvent">
		
	  <table class="table table-striped table-hover">
	  
	  <tr>
	  <td><label for="name">Name:</label></td>
	  <td>
	  <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <input class="form-control" type="text" name="name" id="name" th:value="${event.name}" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      </td></tr>

      <tr>
      <td><label for="venue">Venue:</label>
      </td><td>
      <!-- VENUE -->
      <div class="form-group" th:classappend="${#fields.hasErrors('venue')}? has-error">
        <select th:field="*{venue}" class="form-control" id="venue" name="venue"> 
          <option th:each="v : ${venues}" th:value="${v.id}" th:text="${v.name}" th:selected="${v.equals(venue)}"></option>
        </select>
        <p class="text-danger" th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}">errors</p>
      </div>
      </td></tr>
      
      <tr>
      <td><label for="date">Date:</label></td>
      <td>
      <!-- DATE-->
      <div class="form-group" th:classappend="${#fields.hasErrors('date')}? has-error">
        <input class="form-control" type="date" name="date" id="date" th:value="${event.date}" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">errors</p>
      </div>
      </td></tr>
      
      <tr>
      <td><label for="time">Time:</label></td>
      <td>
      <!-- TIME -->
      <div class="form-group" th:classappend="${#fields.hasErrors('time')}? has-error">
        <input class="form-control" type="time" name="time" id="time" th:value="${event.time}" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">errors</p>
      </div>
	  </td></tr>
	  
	  <tr>
      <td><label for="description">Event Description</label></td>
      <td>
      <!-- DESCRIPTION -->
      <div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
        <textarea class="form-control" name="description" id="description" rows="5" cols="50" th:text="${event.description}"></textarea>
        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">errors</p>
      </div>
      </td></tr>
	  
	  </table>
	     
	  <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
	
	</form>
  </div>

</body>
</html>
