<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event information</title>
</head>

<body>
  <div layout:fragment="content">
	<blockquote>
		<h1><p th:text="${event.name}">Name</p></h1>
		
		<h2>Venue</h2>
		<p th:text="${event.venue.name}">Venue</p>
		
		<h2>Event date</h2>
		<p th:text="${event.date}">Date</p>
				
		<h2>Event time</h2>
		<p th:text="${event.time}">Time</p>
		
	</blockquote>
	
	<a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="false"></i>
	Back</a>

  </div>

</body>
</html>
