<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event information</title>

  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
</head>

<body>
  <div layout:fragment="content">
		<blockquote>
			<h1><p th:text="${event.name}">Name</p></h1>

			<h2>Venue</h2>
			<p><a th:href="@{'/venues/' + ${event.venue.id}}" th:text="${event.venue.name}">Venue</a></p>

			<h2>Event date</h2>
			<p th:text="${#temporals.format(event.date, 'dd LLLL yyyy')}">Date</p>

			<h2>Event time</h2>
			<p th:text="${event.time}">Time</p>

			<div th:style="${event.description != null and event.description != '' ? 'display:block' : 'display:none'}" >
				<h2>Description</h2>
				<p th:text="${event.description}">Description</p>
			</div>

		</blockquote>

		<div>
			<ul>
				<li style="display:inline-block; margin-left:-40px;">
					<a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="false"></i>
					Back</a>
				</li>
				<li style="display:inline-block; margin-left:700px;">
					<div sec:authorize="isAuthenticated()">
						<a class="btn btn-primary" type="button" th:href="@{/events/update/?id={id}(id=${event.id})}" th:text="Update">Update</a>
					</div>
				</li>
				<li style="display:inline-block; margin-left:50px;">
					<div sec:authorize="isAuthenticated()">
						<a th:href="@{/events/delete_event(ID=${event.id})}" role="button" class="btn btn-danger">
						Delete<i class="fas fa-trash" aria-hidden="false"></i></a>
				  </div>
			  </li>
		  </ul>
		</div>
		
		<h5><i class="fab fa-twitter"></i> Share the event</h5>
		
		<form th:action="@{'/events/' + ${event.id} + '/tweeted'}" th:object="${event}" method="get">
	  		<div class="form-row">
		  		<div class="col-md-11 my-1">
		    		<input class="form-control my-0 py-1 col" type="text" id="tweet" name="tweet" th:placeholder="${event.name}" />
		  		</div>
		  		<div class="col-auto my-1">
	        		<input class="btn btn-primary mb-2" type="submit" value="Tweet"/>
	      		</div>
			</div>
	  	</form>
	  	
	  	

    <div id='map' style='width: 100%; height: 350px;'></div>
	  <script th:inline="javascript">
	
	      // Mapbox api key
	      mapboxgl.accessToken = 'pk.eyJ1IjoiajMzMDM2YWoiLCJhIjoiY2s4eGhsMjdoMDk0dzNscDVidXd0OGc3dyJ9.wDg8cWDqltVSBrXxf8R9mg';  // add api key
	
				// Get the event
				var event = [[${event}]];
	
	      // Add map
	      var map = new mapboxgl.Map({
	      container: 'map',
	      style: 'mapbox://styles/mapbox/streets-v11',
	      center: [event.venue.longitude, event.venue.latitude],
	      zoom: 11
	    });
	
	    // Add marker to the map
	    addMarkerPopup(event);
	
	    // Callback function to add events
	    function addMarkerPopup(e, index) {
	    
	      // Get the coordinates of the event
	      var coord = [e.venue.longitude, e.venue.latitude];
	
	      // Create the popup
	      var popup = new mapboxgl.Popup({offset: 25})
	        .setText(e.name);
	
	      // Add marker to map with pop up
	      var marker = new mapboxgl.Marker({draggable: true})
	        .setLngLat(coord)
	        .setPopup(popup)
	        .addTo(map);
	    }
	  </script>
	</div>
</body>
</html>
