<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new venue</h1> 

    <form action="#" th:action="@{/venues}" th:object="${venue}" method="post">
    
      <!-- NAME -->
      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label for="name">Venue name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="venue name" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>
      
      <!-- ADDRESS 1 -->
      <div class="form-group" th:classappend="${#fields.hasErrors('address1')}? has-error">
        <label for="address1">Address 1</label>
        <input class="form-control" type="text" name="address1" id="address1" placeholder="address 1" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}">errors</p>
      </div>
      
      <!-- ADDRESS 2 -->
      <div class="form-group" th:classappend="${#fields.hasErrors('address2')}? has-error">
        <label for="address2">Address 2</label>
        <input class="form-control" type="text" name="address2" id="address2" placeholder="address 2" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}">errors</p>
      </div>
      
      <!-- CITY -->
      <div class="form-group" th:classappend="${#fields.hasErrors('city')}? has-error">
        <label for="address1">City</label>
        <input class="form-control" type="text" name="city" id="city" placeholder="city" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">errors</p>
      </div>
      
      <!-- POSTCODE -->
      <div class="form-group" th:classappend="${#fields.hasErrors('postcode')}? has-error">
        <label for="postcode">Postcode</label>
        <input class="form-control" type="text" name="postcode" id="postcode" placeholder="venue postcode" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">errors</p>
      </div>
      
      <!-- CAPACITY -->
      <div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
        <label for="capacity">Venue capacity</label>
        <input class="form-control" type="text" name="capacity" id="capacity" placeholder="venue capacity" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
      </div>
     
      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/venues"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>
