<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Update a venue</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Update venue</h1>

		<form action="#" th:action="@{/venues/update}" th:object="${venueToUpdate}" method="post" modelAttribute="updatedVenue">
		
		  <table class="table table-striped table-hover">
		  
		  	<tr>
		  		<td><label for="name">Name:</label></td>
		  		<td>
		  			<div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
	        		<input class="form-control" type="text" name="name" id="name" th:value="${venueToUpdate.name}" autofocus="autofocus" />
	        		<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
	     			</div>
	     		</td>
	     	</tr> 
	      
	      <tr>
	      	<td><label for="capacity">Capacity:</label></td>
	      	<td>
	      	<!-- Capacity -->
	      		<div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
	        		<input class="form-control" type="number" name="capacity" id="capacity" th:value="${venueToUpdate.capacity}" autofocus="autofocus" />
	        		<p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
	      		</div>
		  		</td>
		  	</tr>
		  
		  </table>
		     
		  <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
	    <a class="btn btn-warning" role="button" href="/venues"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
	
		</form>
  </div>

</body>
</html>
